<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/sign.css'%}">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="post">
            <p style="font-weight: bold;">{{message}}</p>
            {% csrf_token %}
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="password"/>
            <button name="signin">login</button>
            <p class="message">Not registered? <a href="/user/signup">Create an account</a></p>
            <p><a href="/">Back to home</a></p>
          </form>
        </div>
      </div>
</body>
</html>